### Maven template
**/target/
**/.mvn/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties

### IntelliJ template
**/out/
**/.idea_modules/
**/.idea/
**/*.iml
**/atlassian-ide-plugin.xml


### Eclipse template
**/bin
**/tmp
**/*.tmp
**/*.bak
**/*.swp
**/*~.nib
**/local.properties
**/.metadata
**/.loadpath
**/.recommenders
**/.classpath
**/.project
**/.settings

### Java template
**/*.class
**/*.log
**/logs/

# Mobile Tools for Java (J2ME)
**/.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
*.gz
**/mvnw
**/mvnw.cmd
